:root {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3 {
  -webkit-transition: font-size 0.25s ease;
  transition: font-size 0.25s ease;
}

h1 {
  font-size: 2em;
  margin: 0;
  background-color: black;
  color: white;
  padding: 5px;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-size: 1.125em;
}

p {
  font-size: 1em;
}
nav {
  padding: 10px;
  background-color: yellow;
}

ul {
  background-color: inherit;
  margin: 0;
  padding: 0;
}
nav li {
  /* list-style-type: none; */
  display: inline-block;
  padding: 0px 10px;
}

li > a {
  text-decoration: none;
}

footer {
  position: relative;
  width: 100%;
  background: #6cf;
  padding: 10px 5px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

section > img {
  width: 100%;
}

.project {
  position: relative;
}

.info {
  padding: 0 15px;
  background-color: #f1f1f1;
  margin-top: -4px; /* why do i need that?*/
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.cover  {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s ease;
}

.project.active .cover {
  opacity:  0;
}

.project {
  min-height: 200px;
}

.cover:hover {
  opacity: 0;
}

.cover h2 {
  color: white;
  position: absolute;
  font-family: "futura", Arial, serif;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 3.5vmin;
  font-weight: 500;
}

.a .cover {
  background-color: #1d70b7;
}
.b .cover {
  background-color: #e6332a;
}
.c .cover {
  background-color: #00a09a;
}
.d .cover {
  background-color: #e84e1b;
}
.e .cover {
  background-color: #008d36;
}
.f .cover {
  background-color: #f9b233;
}
