:root {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

h1,
h2,
h3 {
  -webkit-transition: font-size 0.25s ease;
  transition: font-size 0.25s ease;
}

h1 {
  font-size: 2em;
  margin: 0;
}

nav h1 {
  font-family: 'Abril Fatface', Helvetica, sans-serif;
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-size: 1.125em;
}

p {
  font-size: 1em;
}
nav {
  padding: 1rem;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
}

nav h1 {
  font: "abril-fatface";
  letter-spacing: 0.1rem;
}

nav ul {
  background-color: inherit;
  margin: 0;
  padding: 0;
  align-self: center;
}
nav li {
  display: inline;
  padding-left: 1rem;
}

li a {
  text-decoration: none;
}
a:visited {
  color: black;
}

footer {
  position: relative;
  width: 100%;
  /* background: #6cf; */
  padding: 1rem 1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1rem;
  padding: 0 1rem;
}

section > img {
  width: 100%;
}

.project {
  position: relative;
}

.info {
  padding: 0 15px;
  background-color: #f1f1f1;
  margin-top: -4px; /* why do i need that?*/
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.cover  {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s ease;
}

.project.active .cover {
  opacity:  0;
}

.cover:hover {
  opacity: 0;
}

.cover h2 {
  color: white;
  position: absolute;
  font-family: "futura", Arial, serif;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 3.5vmin;
  font-weight: 500;
}

.a .cover {
  background-color: #1d70b7;
}
.b .cover {
  background-color: #e6332a;
}
.c .cover {
  background-color: #00a09a;
}
.d .cover {
  background-color: #e84e1b;
}
.e .cover {
  background-color: #008d36;
}
.f .cover {
  background-color: #f9b233;
}

.shape {
  margin: 0 4px;
}

.square {
  background-color: black;
  width: 1.3rem;
  height: 1.3rem;
  display: inline-block;
}

.circle {
  background-color: black;
  width: 1.3rem;
  height: 1.3rem;
  display: inline-block;
  border-radius: 50%;
}

.triangle {
	border-left: 0.75rem solid transparent;
	border-right: 0.75rem solid transparent;
	border-bottom: calc(2 * 0.75rem * 0.866) solid black; /* height = side * sqrt(3)/2 */
  display: inline-block;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 main {
   grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
 }
 /* have to fix viewport grid for othe screen sizes */
}